@import '../base/App.css';

.form-c{
    margin-bottom: -25rem;
    margin-left: 20px;
    max-width: 100%;
    width: 50rem;
    min-height: 50rem;
    background-color: var(--white);
    padding: 2rem;
    box-shadow: 0px 20px 30px #00000025;
    position: relative;
}

.fixed-image{
    position: absolute;
    bottom: -30px;
    left: -70px;
    z-index: -1;
}

.form-c > form{
    width: 100%;
    color: black;
    position: relative;
    z-index: 2;
}

.form-c > form > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    position: relative;
}

select{
    color: var(--shuttleGray);
    -webkit-appearance: none;
    -moz-appearance: none;
    font-family: inherit;
    font-size: 1.8rem;
    text-align: center;
    margin: 0 5px;
    width: 7rem;
    padding: 1.5rem 0;
    border: none;
    border-bottom: 1.5px solid #d1d1d1;
    outline: none;
    cursor: pointer;
}

select:focus{
    outline: var(--outline);
    outline-offset: 0.5rem;
}

option{
    font-size: 1.8rem;
    color: var(--codGray);
}

input{
    margin-bottom: 10px;
    width: 100%;
    padding: 1.5rem;
    border: none;
    border-bottom: 1.5px solid #d1d1d1;
    outline: none;
    font-family: var(--font);
    font-size: 1.8rem;
}

input::placeholder{
    color: var(--shuttleGray);
}

input:focus{
    outline: var(--outline);
    outline-offset: 0.5rem;
}

#name{
    text-transform: capitalize;
}

.quant-peoples{
    display: flex;
    align-items: center !important;
    margin-top: 10px;
    margin-bottom: 30px;
    width: 100%;
    padding: 1.5rem;
    border: none;
    border-bottom: 1.5px solid #d1d1d1;
    outline: none;
    font-family: var(--font);
    font-size: 1.6rem;
}

.quant-peoples > img{
    width: 2rem;
    cursor: pointer;
}

.quant-peoples > img:active, .quant-peoples > img:hover{
    outline: var(--outline);
    outline-offset: 0.5rem;
}

.quant-peoples > span {
    font-size: 1.8rem;
    font-weight: 600;
}

.error_message{
    color: var(--red);
    font-size: 1.2rem;
    font-weight: 600;
    position: absolute;
    bottom: 0px;
}

h4{
    font-weight: 400;
}

.button-reservation{
    background-color: var(--codGray);
    color: var(--white);
    border: 1.5px solid var(--codGray);
    text-transform: uppercase;
    padding: 2rem;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
    transition: var(--transition);
}

.button-reservation:hover{
    background-color: transparent;
    color: var(--codGray);
}

.error{
    visibility: visible !important;
    border-color: var(--red) !important;
}

/************************************************************/

.box-success{
    padding: 3rem;
}

.box-success > aside{
    text-align: center;
}

.box-success > aside > .icon{
    color: var(--green);
    font-size: 7rem;
    margin-bottom: 15px;
}

.box-success > aside > h2{
    color: var(--codGray);
    margin-bottom: 30px;
}

.box-success > p{
    color: var(--codGray);
    margin-bottom: 10px;
}

.box-success > .footer{
    font-size: 1.3rem;
    padding-top: 30px;
    color: var(--shuttleGray);
}

.showModal{
    display: grid;
}

.hiddeModal{
    display: none;
}

/**************************************************************/

@media(max-width: 1200px){

    .form-c{
        margin: 0 auto;
        margin-bottom: -25rem;
        margin-left: 0px;
        max-width: 100%;
        width: 60rem;
        font-size: 1.8rem;
        text-align: left;
    }

    select{
        width: 8rem;
        font-size: 1.8rem;
    }

}

@media(max-width: 800px) {

    .fixed-image{
        display: none;
    }

}

@media(max-width: 700px) {

    .form-c{
        margin-bottom: -25rem;
        margin-left: 0px;
        width: 45rem;
    }

    .time-area, .date-area{
        display: block !important;
    }

    select{
        font-size: 1.6rem;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 30%;
    }

}

@media(max-width: 500px) {

    .form-c{
        margin-bottom: -25rem;
        margin-left: 0px;
        width: 35rem;
    }

    select{
        width: 8rem;
    }

}